.container{
    margin: 0 auto;
    max-width: 1220px;
    font-family: Inter;
    
}

a {
    text-decoration: none;
}

li {
    display: block;
    margin-right: 16px;
}

button {
    width: 132px;
    height: 44px;
    size: 15px;
    color: #fff;
    border-radius: 8px;
    border: 0;
}

h2 {
    font-family: Playfair Display;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    color: #000000;
}

ul {
    display: flex;
    padding-left: 0;
}