.hero {
    margin-bottom: 70px;
    display: flex;
    flex-direction: row;
}

.hero__inner {
    width: 480px;
    padding-top: 300px;
}

.hero__paragraph {
    font-family: Mulish;
    font-size: 17px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
}

.hero__button {
    background-color:  #FB8F1D;
}

.hero_img {
    width: 599px;
    height: 542px;
    padding-top: 146px;
}
